@import '../../../assets/styles/variables';

.header_controls_wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 80px;
  padding-right: 42px;
}
.lang_selector {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 600;
  color: $white-color;
  cursor: pointer;
}
.controls_divider {
  color: $white-color;
  font-size: 24px;
  margin: 0 23px;
}
.login_control {
  color: $white-color;
  font-size: 14px;
  font-family: $main-font;
  cursor: pointer;
}
.search_control {
  cursor: pointer;
  margin-right: 27px;
}
.add_company_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $white-color;
  background: transparent;
  margin-right: 30px;
  font-family: $main-font;
  font-weight: 600;
  font-size: 14px;
  color: $white-color;
  cursor: pointer;
  opacity: 1;
  transition: 0.1s opacity, 0.1s background-color, 0.1s border-color;
  &:hover {
    opacity: 0.7;
    background: rgba(248, 128, 106, 0.1);
    border: 1px solid $main-color;
  }
}
.plus_icon {
  margin-right: 5px;
}
