// COLORS
$white-color: white;
$main-color: #f8806b;

//FONTS
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;

//GRID
$grid-width: 1226px;

//VERTICAL RYTHM
$v1-margin: 80px;
